.overlay {
    z-index: 1;
    transition: var(--transition);
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color-light-gray);
}
.modal {
    transition: var(--transition);
    position: absolute;
    background-color: #fff;
    color: black;
    top: 100px;
    left: calc(50% - 275px);
    width: 550px;
    height: 400px;
}
.close {
    transition: var(--transition);
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}