.list__container {
    position: relative;
    height: 600px;
    width: 900px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    border: 1px solid var(--theme-default-sidebar);
    border-radius: 10px;
    padding: 0 10px;
    margin: 0;
}

.list-wrapper {
    width: 900px;
    padding: 0;
    margin: 0;
}

.list__container::-webkit-scrollbar {
    
    background-color: var(--theme-default-icons);
    width: 4px;
    border-radius: 10px;
}
.list__container::-webkit-scrollbar-thumb {
    
    cursor: pointer;
    width: 4px;
    background-color: var(--theme-default-sidebar);
    border-radius: 10px;
}


.list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid var(--theme-default-active);
}

.item__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 3px;
}

.list__subheader {
    padding: 0;
    margin: 0;
}

.list__name {
    font-weight: var(--font-bold);
}

.item__tools {
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tools__icon {
    cursor: pointer;
    transition: var(--transition);
}

.tools__icon:hover{
    transform: scale(1.1);
}

.tools__icon svg {
    position: relative;
    fill: var(--theme-default-sidebar);
}
.icon__delete  svg{
    fill: red;
}

.tooltip {
    
    width: 100%;
    height: 100%;
}